a {
  text-decoration: none;
  color: #40adb4;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;

  &.-is-active {
    background-color: silver;
  }
}
a:hover {
  background-color: #b1abab;
}
